:root{
  --col1: #031019;
  --col2: #07313d;
  --col3: #F26419;
  --col4: #FA991C;
  --col5: #FF491C;
  --col6: #04090d;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--col1);
}

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Merienda', cursive;
}

header{
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

.card{
  background-color: var(--col2) !important;
  color: var(--col3) !important;
}

.card a{
  color: var(--col4) !important;
}
.card a:hover{
  color: var(--col5) !important;
}
footer{
  text-align: right;
  background-color: var(--col6);
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .jumbotron h5{
    max-width: 60vw;
  }
}
