html {
  scroll-behavior: smooth;
}

body{
  background-color: #44546a;
}

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Merienda', cursive;
}

header{
  min-height: 100vh;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

main{
  /* min-height: 100vh; */
}

@media only screen and (min-width: 600px) {
  .jumbotron h5{
    max-width: 60vw;
  }
}
