.nav-wrapper {
    background-color: rgb(6, 54, 68);
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ZCOOL XiaoWei', serif;
}

.w3-col {
    height: 270px;
}

.w3-col .card-action a:hover {
    color: #23395B !important;
}

.w3-col .card-action a {
    display: block;
    color: #36ACB5 !important;
}

#teasers {
    max-height: 75vh;
    overflow-y: scroll;
}

.collection-item a {
    color: #36ACB5;
}

.collection-item a:hover {
    color: #23395B;
}

.active {
    background-color: #fff !important;
}

.active a {
    color: #23395B;
}

iframe, #plot{
    height: 700px !important;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(6, 54, 68);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(6, 54, 68);
}
